:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --timing: 400ms;
  --rotation: 25deg;
}
* {
  box-sizing: border-box;
  margin: 0 auto;
}
a {
  text-decoration: none;
  color: black;
}
body {
  overflow: hidden;
}
.wrapper {
  width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: column;
  place-items: center;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transition: background-image 0.5s ease-in-out;

  overflow: scroll;

  color: #000000;
}

/* Navigation Bar Styles */
.header {
  width: 100%;
  z-index: 1000;

  background-color: hsla(0, 1%, 62%, 0.3);
  padding: 20px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  box-shadow: 0 5px 10px hsla(0, 0%, 0%, 0.2);
}
.navigation {
  display: flex;
  padding: 0;
}
.navigation > li {
  list-style: none;
  margin-right: 10px;
  padding: 5px 10px;
  font-family: 'Tolkien', sans-serif;
  font-size: 1.8rem;
}
.navigation > li:hover {
  cursor: pointer;
  transform: scale(1.2);
}

/* Main Content Styles  */

.main-wrapper > * {
  margin: 0;
}
.main-wrapper {
  width: 100%;
  padding: 10px 15px;

  display: grid;
  grid-template-areas: 'title title title'
                      'main-cont main-cont main-cont'
                      'main-cont main-cont main-cont';

  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  gap: 5px;
}
.title-comp {
  grid-area: title;
  font-family: 'Tolkien', sans-serif;
  font-size: 2rem;

  /* text-shadow: rgb(236, 234, 229) 1px 0 10px; */
  animation: letters  .8s ease-in forwards;

  align-self: center;
  justify-self: center;
  margin: 25px 10px;
}
.content {
  grid-area: main-cont;
  max-width: 100%;
  place-self: center;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(420px, 1fr)); /* Adjust minmax() values as needed */
  gap: 10px; /* Adjust gap as needed */
}

.content-card {
  max-width: 390px;
  padding: 8px 12px;
  border: 1px solid hsla(195, 53%, 79%, 0.6);
  border-radius: 12px;

  background-color: hsla(0, 0%, 0%, 0.3);
  color: aliceblue;
  perspective: 1000px;
}
.cont-title {
  font-family: 'Postamt', sans-serif;
}

/* Images Styles */

.img-wrapper > img {
  width: 100%;
}
.img-wrapper {
  width: 360px;
  aspect-ratio: 1;
  position: relative;
  transform-style: preserve-3d;
  transition: rotate var(--timing) ease;
}
.img-wrapper:hover {
  rotate: x var(--rotation);
  cursor: pointer;
  /* width: 80%; */
}
.img-wrapper::before {
  content: '';
  position: absolute;
  inset: 0;
  z-index: 100;
  background-image: radial-gradient(circle, transparent 150px, black);
  opacity: 0;
  transition: opacity var(--timing);
}
.img-wrapper:hover::before {
  opacity: 1;
  width: 80%;
}
.img-wrapper::after {
  content: '';
  position: absolute;
  inset: 80% 0.5rem 0.5rem;
  translate: 0;
  transform: translateZ(-100px);
  background: black;
  filter: blur(1rem);
  z-index: 1;
  transition: rotate var(--timing), translate var(--timing);
}
.img-wrapper:hover::after {
  rotate: x calc(var(--rotation) * -1);
  translate: 0 60px;
  width: 80%;
}
.bg-img {
  position: absolute;
  z-index: 10;
  height: 100%;
  object-fit: cover;
  inset: auto 0;

  border-radius: 20px;
}
.img-wrapper:hover .bg-img {
  filter: blur(3px);
  border-radius: 10px;
  width: 80%;
}

.cont-title, .ft-flash {
  position: absolute;
}

.cont-title {
  z-index: 1000;
  width: 65%;
  margin-inline: auto;
  inset: auto 0 2rem;
  transform: translateY(0rem), translateZ(20px);
  transition: var(--timing);
}
.img-wrapper:hover .cont-title {
  transform: translateY(-1rem) translateZ(20px);
  rotate: x calc(var(--rotation) * -1);

  text-emphasis: open circle #ffb703;
  text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
  font-size: 2rem;
}

.ft-flash {
  scale: 1.150;
  transform-origin: top;
  opacity: 0;
  z-index: 100;
  inset: auto 0 3rem;
  transition: var(--timing);

  mask-clip: content;
  -webkit-mask-clip: content;
  filter: drop-shadow(0 0 0.75rem rgb(255, 217, 0));
}
.img-wrapper:hover .ft-flash {
  opacity: 1;
  transform: translateY(-2rem), translateZ(-10px);
  rotate: x calc(var(--rotation) * -100px);
}

.book-p, .movie-p, .tolkien-p, .append-p {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px;
  margin-top: 25px;
}

/* .img-wrapper {
  display: flex;
  max-width: 350px;
  max-height: 350px;
}
.img-flash {
  width: 280px;
  height: auto;
  opacity: 1;

  transition: all .8s ease-in;
}
.img-flash:hover {
  opacity: 1;
}
.hp-img {
  width: 340px;
  height: auto;

  mask-clip: content;
  -webkit-mask-clip: content;
  filter: drop-shadow(0 0 0.75rem rgb(255, 217, 0)) invert(100%);

  animation: spin 21s cubic-bezier(0.1, -0.6, 0.2, 0) forwards;
}

@keyframes spin {
  from {
      transform:rotate(0deg);
  }
  to {
    transform:rotate(360deg);
  }
} */



